{% extends "base.html" %}
{% block content %}
{% load my_tags %}
<div class="row text-center">
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{product.name}}</h4>
                </div>
                <div class="card-body">
                    <img src ="{{product.image | media_filter }}">
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <li>Описание: {{product.description | truncatechars:100}}</li>
                        <li>Цена: {{product.price}}</li>
                        <li>Дата создания: {{product.created_at}}</li>
                        <li>Дата последнего изменения: {{product.updated_at}}</li>
                    </ul>
                    <div class="btn-group">
                    <a class="btn btn-primary" href="{% url 'catalog:product_detail' product.pk %}" role='button'>Назад</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}